body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: rgba(219, 32, 73, 0.849);
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    margin-top: 20px;
    text-align: center;
}

.gif-container img {
        max-width: 400px;
        max-height: 320px;
        height: auto;
        width: 100% ;
        height: 100%;
}

.YES, .NO {
    padding: 10px 20px;
    background-color: rgba(252, 148, 163, 0.849);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.NO{
    border: 3px solid #ff69b4; 
    background-color: rgba(255, 255, 255, 0.897);
}

.YES:hover, .NO:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    background: rgba(226, 93, 160, 0.404);
    transform: scale(1.05);
    transition: all 0.1s linear;
}

